#!/usr/bin/make -f

.PHONY: override_dh_installdocs override_dh_strip override_dh_auto_configure

DPKG_EXPORT_BUILDFLAGS = 1
-include /usr/share/dpkg/buildflags.mk

CFLAGS   += $(CPPFLAGS)
CXXFLAGS += $(CPPFLAGS)

ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
  INSTALL_PROGRAM += -s
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  MAKEFLAGS += -j$(NUMJOBS)
endif

DH_WITHFLAGS = --with pkgkde_symbolshelper
DH_FLAGS = --parallel

%:
	dh $@ $(DH_WITHFLAGS) $(DH_FLAGS)

override_dh_installdocs:
	dh_installdocs --link-doc=libcigicl1 --exclude=license.html

override_dh_strip:
	dh_strip --dbg-package=libcigicl1-dbg

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake
